{% extends 'base.html' %}


{% block title %}
小说分类浏览-小说分类浏览
{% endblock %}

{% block css %}
<style>

#help_page
{
    border-top:2px solid #8b6f4f;
}
#help_page a
{
    color:#8b6f4f;
}
.cover
{
    width: 60px;
}

.cover img
{
    width:60px;
    height:80px;
}
</style>
{% endblock %}

{% block main %}
<div class="row" style='font-family:宋体;font-size:13px;'>
<p>
启书网是移动互联网时代集<font style='font-size:15px;color:green;'>小说搜索</font>，<font style='font-size:16px;color:red;'>移动阅读</font>(开发中)，
<font style='color:#4a76c5;font-size:17px;'>书友社交</font>(开发中)为一体的的小说网站。
</p>
<p>致力于打造一个移动互联时代良好的优质小说检索入口，给各位书友提供更加智能，人性化的服务。
</p>

</p>
凭借拥有完全独立自主知识产权的搜索技术和资深产品经理的产品设计理念，我们相信我们能做的更多。
</p>
<p>
在这里,您可以获取最新小说信息，可以建立自己个人的书架，对于那些非常符合您的兴趣，但是您暂时没有发现的书籍，启书网会向您推荐。
<p/>
<p>
启书网是一家个人网站，没有公司或组织支持，完全是站长和站长朋友们的私人兴趣爱好而创立，并利用空余时间维护。
</p>
<p>
我们就像一群黑客，白天有day work,晚上，就是我们启书的时刻。
</p>
<p>
在此，郑重申明，启书网崇尚开源自由，面向书友的一切服务均不会以利益为驱使.
</p>
<p style='font-size:12px;font-weight:normal;'>
开发团队XS7工作室
</p>
</div>
{% endblock %}

{% block js %}
<script>
$(document).ready(
    function()
    {
    }
);
</script>
{% endblock %}
