{% extends 'base.html' %}
{% block title %}
欢迎{{user.name}}
{% endblock %}

{% block css %}
<style>
#read_before
{
    padding:20px;
    margin-bottom:20px;
}
.span12
{
    margin-bottom:20px;
}
</style>
{% endblock %}

{% block main %}
    <div style = 'margin-bottom:10px;font-size:20px;color:#b17750;paddgin:10px;width:900px;'>欢迎你 {{user.name}}</div>
        <div class="row">
            <div class="span12">
                <div id = 'read_before'>
                    <p style = 'font-size:15px;color:#ff4100;'>最近阅读记录(临时)
                    <span style = 'font-size:12px;'>
                        <a href = 'javascript:void(0);' onclick = 'clean_history();'>清除浏览数据</a> 
                        <a href='javascript:void(0);' onclick='save_to_backend();' style='text-decoration:inline;'>同步</a>
                        <img id = 'saving_gif' src = '/site_media/image/load.gif' style='display:none;'>
                    </span>
                    </p>
                    <table id = 'show_history' style='font-size:12px;'>
                        <div id = 'loading_gif'>
                            <img src = '/site_media/image/loading.gif'>
                        </div>
                    </table>
                </div>
            </div>

            <div class = 'span12'>
                 <div id = 'menu'> 
                    <span  id = 'rec'>系统推荐</span>
                    <span id = 'shelf'>我的书架</span>
                    <span id = 'history'>阅读历史</span>
                    <span id = 'msg'>消息</span>
                </div>
            </div>
            <div class="span8" id = 'show_infor_rec' style='display:'> 
                {% for item in out %}
                    <span style = 'font-size:15px;font-weight:bold;padding:10px;'>{{ item.key }}</span>
                    <ul class="book-list">
                        {% for item in item.fictions %}

                        <li>
                            <a href="/fiction/{{item.fiction_nid}}/" class="book-img">
                                <img src="{{item.fiction_avatar_url}}" alt=""></a>
                            <div class="book-info">
                                <h4 class="book-title">
                                    <a href="/fiction/{{item.fiction_nid}}/">
                                    {{item.fiction_title|slice:"6"}}
                                    </a>
                                </h4>
                                <span class="author">{{item.author}}</span>
                            </div>
                        </li>
                       {% endfor %}
                    </ul>
                {% endfor %}
            </div>
            <div class = 'span8' id = 'show_history_area' style = 'display:none;'>
            </div>
             <!-- 我的书架 -->
             <div class="span8" id = 'show_infor_shelf' style='display:none;'>
                <span style = 'font-size:12px;cursor:hand;background:#e1e8e5;padding:5px;' onclick="change_content('0');" id ='style_0'>全部</span>
                {% for item in shelf_fic %}
                <span style = 'font-size:12px;cursor:hand;background:#e1e8e5;padding:5px;'  onclick="change_content('{{item.id}}');"
                id = 'style_{{item.id}}'>{{ item.key }}({{item.number}})</span>
                {% endfor %}
                <hr/>
                    <ul class="book-list" id = 'shelf_book_list'>
                        {% for item in all %}
                        <li style='margin-left:-2px;' id = "change_{{item.id}}" onmouseover="change_color('#change_{{item_id}}')" onmouseleaver="change_color_back('#change_{{item_id}}');">
                            <a href="/fiction/{{item.fiction_nid}}/" class="book-img">
                                <img src="{{item.fiction_avatar_url}}" alt=""></a>
                            <div class="book-info">
                                <h4 class="book-title">
                                    <a href="/fiction/{{item.fiction_nid}}/">
                                    {{item.fiction_title|slice:"6"}}
                                    </a>
                                </h4>
                                <span class="author">{{item.author}}</span>
                            </div>
                        </li>
                       {% endfor %}
                    </ul>
            </div>
            <!-- 我的书记 结束 -->
        </div>


    {%  endblock %}
    {% block js %}
    <script>
    var page_content = $('#show_infor').html();
    var cur_page = '#rec';
    var index = '0';
    $(document).ready(
        function()
        {
            $('#rec').css('color', '#b17750');
            $('#rec').css('border-top', '2px solid #b17750');
            $('#rec').css('cursor', 'hand');
            $('#shelf').css('cursor', 'hand');
            $('#msg').css('cursor', 'hand');
            $('#history').css('cursor', 'hand');
            $('#style_0').css('background', '#cecece');
            after_click('#rec');
           after_click('#shelf');
           after_click('#msg');
           after_click('#history');
            show_history('{{csrf_token}}', 'home');
        }
    );

    function clean_history()
    {
        clean_log();
    }

    function save_to_backend()
    {
    $('#saving_gif').fadeIn(200);
        var data = $.cookie('read_log');
        $('<div>').load(
            '/save_read_log/',
            {'log' : '[' + data + ']',
            'csrfmiddlewaretoken' : '{{csrf_token}}'},
            function()
            {
                $('#saving_gif').fadeOut(200);
                data = eval('[' + data + ']');
                var new_log = "";
                var j = 0;
                for(j = 0 ; data[j] != null; j ++)
                {
                    new_log += '{"tag":"0","chapter_id":"' + data[j].chapter_id + '","fiction_nid":"' + data[j].fiction_nid + '","url":"' + data[j].url + '","time":"' + data[j].time + '"}';
                    if(data[j + 1] != null)
                        new_log += ',';
                }
                $.cookie('read_log', new_log, {'expires' : 7, 'path' : '/'});
            }
        );
    }

    function chagne_color_back(id)
    {
    }
    function return_color_back(id)
    {
    }
    function change_content(id)
    {
        if(id != index)
        {
            $('#style_' + index).css('background', '#e1e8e5');
            $('#style_' + id).css('background', '#cecece');
            index = id;
            load_type_fiction(id);
        }
    }

    function load_type_fiction(id)
    {
        $('<div>').load(
            '/load_fiction_from_type/',
            {'type' : id,
            'csrfmiddlewaretoken' : '{{csrf_token}}'},
            function()
            {
                var data = $(this).html();
                data = eval(data);
                var content = "";
                for(var i = 0; data[i] != null; i ++)
                {
                      content +=  "<li style='margin-left:-2px;' id = 'change_"+ data[i].id +
                      "' onmouseover=\"change_color('#change_" + data[i].id + "')\" onmouseleaver=\"" + 
                      "change_color_back('#change_" + data[i].id + "');\">" +
                      "<a href=\"/fiction/" + data[i].nid + "/\" class=\"book-img\">" + 
                      "<img src=\"" + data[i].avatar + "\" alt=\"\"></a>" + 
                      "<div class=\"book-info\"><h4 class=\"book-title\">" + 
                      "<a href=\"/fiction/" + data[i].nid + "/\">" + 
                     data[i].title +"</a></h4><span class=\"author\">" + 
                     data[i].author + "</span></div> </li> ";
                }
                $('#shelf_book_list').html(content);
            }
        );
    }
    function after_click(id)
    {
        $(id).click(
        function(){
        if(id != cur_page)
        {
            $(id).css('color', '#b17750');
            $(id).css('border-top', '2px solid #b17750');
            $(cur_page).css('color', '#444');
            $(cur_page).css('border-top', '');
            cur_page = id;

            if(id == '#shelf')
            {
                $('#show_infor_rec').css('display', 'none');
                $('#show_history_area').css('display', 'none');
                $('#show_infor_shelf').css('display', '');
            }
            else if(id == '#rec')
            {
                
                $('#show_infor_rec').css('display', '');
                $('#show_infor_shelf').css('display', 'none');
                $('#show_history_area').css('display', 'none');
            }
            else if(id == '#history')
            {
                $('#show_infor_rec').css('display', 'none');
                $('#show_infor_shelf').css('display', 'none');
                $('<div>').load(
                    '/get_history/',
                    {'csrfmiddlewaretoken': '{{csrf_token}}'},
                    function()
                    {
                        
                        var data= $(this).html();
                        data = eval(data);
                        var content = "";
                        for(var j = 0;data[j] != null; j ++)
                        {
                            if(data[j].state == '0')
                            {
                                
                        content += '<li style="padding:3px;backgroundddd;" id="li_' + data[j].id + '" onmouseout="return_li_color(\'' + data[j].id +'\');" onmouseover="change_li_color(\'' + data[j].id +'\');">' + data[j].time + ': <a href = "/fiction/' + 
                        data[j].ficiton_nid + '">' + data[j].fiction_title + '</a> 阅读到 <a href = "' + data[j].chapter_url + '">' + 
                        data[j].chapter_title + '</a>' + '<a href="javascript:void(0);"  onclick="del(\'' + data[j].id  + '\');" style="float:right;margin-right:20px;display:none;" " id = "del_' + data[j].id + '">删除</a>'; 
                            }
                            else
                            {
                        content += '<li style="padding:3px;background:d;" id = "li_' + data[j].id + '" onmouseout="return_li_color(\'' + data[j].id +'\');" onmouseover = "change_li_color(\'' + data[j].id + '\')";>' + data[j].time + ': <a href = "/fiction/' + 
                        data[j].fiction_nid + '">' + data[j].fiction_title + '</a> 最新章节: ' + data[j].chapter_title +'<a href="javascript:void(0);" onclick="del(\'' + data[j].id  + '\');" style="display:none;"style="float:right;margin-right:20px;" id = "del_' + data[j].id + '">删除</a>';
                            }        
                        }
                        $('#show_history_area').html(content);
                        $('#show_history_area').css('display', '');
                    }
                );
            }
        }});
    }

    function del(id)
    {
        $('<div>').load(
            '/del_read_history/',
            {'id' : id,
                'csrfmiddlewaretoken' : '{{csrf_token}}'},
            function()
            {
                $('#li_' + id).css('display', 'none');
            }
        );
    }

    function change_li_color(id)
    {
        $('#li_' + id).css('background', '#ddd');
        $('#del_' + id).css('display', '');
        $('#del_' + id).css('float', 'right');
    }
    function return_li_color(id)
    {
        $('#li_' + id).css('background', '#fff');
        $('#del_' + id).css('display', 'none');
    }
    </script>

    {% endblock %}
